@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.active-link,
.exact-active-link {
  font-weight: bold;
}

.lineaDorata {
  background-image: url(https://storage.googleapis.com/roleever-public-assets/www/LineaDorata.png);
}

.bg-frame {
  background-image: url('~assets/images/frameSkills.svg');
  height: 230px;
  width: 250px;
}

.bg-fantasy {
  background-image: url(https://storage.googleapis.com/roleever-public-assets/www/about/fantasy.jpg);
}

ul {
  list-style: none;
}

ul li:before {
  content: '•';
  font-size: 40px;
  padding-right: 5px;
  line-height: 10px;
  vertical-align: top;
}

li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .bg-view {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg_mobile.jpg);
  }
}

@media (min-width: 768px) {
  .bg-view {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg.jpg);
  }
}