@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.lineaDorata {
  background-image: url(https://storage.googleapis.com/roleever-public-assets/www/LineaDorata.png);
}

@media (min-width: 1024px) {
  .lineaDorata {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/LineaDorata2.png);
  }
}

.bg-frame {
  background-image: url('~assets/images/frameSkills.svg');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  height: 250px;
  width: 300px;
}

.bg-fantasy {
  background-image: url(https://storage.googleapis.com/roleever-public-assets/www/about/fantasy.jpg);
}

ul {
  list-style: none;
}

ul li:before {
  content: '•';
  font-size: 40px;
  padding-right: 5px;
  line-height: 10px;
  vertical-align: top;
}

li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .bg-view {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg_mobile.jpg);
  }
}

@media (min-width: 768px) {
  .bg-view {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg.jpg);
  }
}

@media (max-width: 767px) {
  .bg-view-card {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .bg-view-card {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg.jpg);
  }
}

@media (max-width: 767px) {
  .bg-view-card-container {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg.jpg);
  }
}

@media (min-width: 768px) {
  .bg-view-card-container {
    background-image: none;
  }
}

@media (max-width: 767px) {
  .bg-footer {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg_footer_mobile.jpg);
  }
}

@media (min-width: 768px) {
  .bg-footer {
    background-image: url(https://storage.googleapis.com/roleever-public-assets/www/bg_footer.jpg);
  }
}
.text-shadow {
  text-shadow: 0px 3px 6px #00000066;
}

@layer components {
  .title {
    @apply text-5xl font-semibold subpixel-antialiased tracking-wide mx-auto;
  }
  @screen xs {
    .title {
      @apply text-3xl;
    }
  }
  @screen sm {
    .title {
      @apply text-3xl;
    }
  }
  @screen md {
    .title {
      @apply text-4xl;
    }
  }
  @screen xxxl {
    .title {
      @apply pt-32;
    }
  }
  @screen md {
    .title {
      @apply tracking-normal;
    }
  }
}
